name: OpusKanban FastApi CI/CD


# Event actions on the git repo to trigger the workflow
on: 

  # Trigger the workflow on push
  push:
    branches:
      - "main"

  # Trigger the worflow on merging
  pull_request:
    branches:
      - "main"


jobs:
  
  deploy:
    # Define the runner used in the worflow, actual machine server that runs the jobs
    runs-on: ubuntu-latest

    steps:
      # Check out repo so our workflow can access it
      - name: Checkout Code 
        uses: actions/checkout@v2
      
      # Step-1 Setup Python
      - name: Set up Python
        # this action sets up a python environment for use in actions
        uses: actions/setup-python@v2
        with:
          python-version: 3
      
      # Step-2 Cache Dependencies
      - name: Cache Dependencies
        uses: actions/cache@v2
        id: pipenv-cache
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pipenv-

      # Step-3 Install Pipenv
      - name: Install Pipenv
        run: pip install pipenv

      # Step-4 Set up Virtual Environment and Install Dependencies
      - name: Set up Virtual Environment and Install Dependencies
        run: |
          pipenv install --system --deploy --ignore-pipfile  
          pipenv shell

      # Step-5 Run Tests
      - name: Run Tests
        run: pipenv run pytest

